---
import "@/styles/global.css";
import "./main.css";
import { SITENAME } from "@/constant/config";
import { SideMenu } from "@/components/ui/side-menu";
import { Footer } from "@/components/layout";

type Props = {
  title?: string;
};

const { title } = Astro.props;
const computedTitle = title ? `${title} | ${SITENAME}` : SITENAME;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{computedTitle}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="left">
        <a href="/">
          <img src="/lunclogo.png" alt={SITENAME} />
        </a>
      </div>
      <div class="right">
        <span>
          <slot name="nav" />
        </span>
        <SideMenu client:load />
      </div>
    </nav>
    <slot />
    <Footer client:load />
  </body>
</html>
